// 가상요소
@mixin pseudo {
  content: "";
  position: absolute;
  z-index: 1;
}

// 텍스트
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  font-size: 0;
  line-height: 0;
}
@mixin ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin ellipse_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

//typo
@mixin txt_header {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  color: $color_white;
  display: block;
}
@mixin txt_tit {
  display: block;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
}
@mixin txt_body1 {
  font-size: 1.8rem;
  font-weight: 600;
}
@mixin txt_body2 {
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 140%;
}
@mixin txt_body3 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}
@mixin txt_body4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 135%;
}

// 정렬
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
@mixin center_top {
  @include center;
  left: 0;
  transform: translate(0, -50%);
}
@mixin center_left {
  @include center;
  top: 0;
  transform: translate(-50%, 0);
}
@mixin flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@mixin flex_center {
  @include flex;
  justify-content: center;
}
@mixin flex_between {
  @include flex;
  justify-content: space-between;
}
