// 가상요소
@mixin pseudo {
  content: "";
  position: absolute;
  z-index: 1;
}

// 텍스트
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  font-size: 0;
  line-height: 0;
}
@mixin ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin ellipse_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

//타이포시작
//타이포시작

// 맨위 텍스트 :: .typo__header
@mixin typo_header {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  color: $color_white;
  display: block;
}
// 메인텍스트 :: .typo__tit
@mixin typo_tit {
  display: block;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
}
// 리스트 타이틀 :: .typo__body1
@mixin typo_body1 {
  font-size: 1.8rem;
  font-weight: 500;
}
// 리스트 내용 :: .typo__body2
@mixin typo_body2 {
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 140%;
}
// 설명글, 링크 :: .typo__body3
@mixin typo_body3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}
// 태그 .typo__body4
@mixin typo_body4 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 135%;
}

// todo :: __가 아니라 모디파이어 --로가야하나 ?
.txt {
  word-break: keep-all;
  &__header {
    @include typo_header;
  }
  &__tit {
    @include typo_tit;
  }
  &__body1 {
    @include typo_body1;
  }
  &__body2 {
    @include typo_body2;
  }
  &__body3 {
    @include typo_body3;
  }
  &__link {
    @include typo_body3;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  &__body4 {
    @include typo_body4;
  }
}

// 정렬
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
@mixin center_top {
  @include center;
  left: 0;
  transform: translate(0, -50%);
}
@mixin center_left {
  @include center;
  top: 0;
  transform: translate(-50%, 0);
}
@mixin flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
@mixin flex_center {
  @include flex;
  justify-content: center;
}
@mixin flex_between {
  @include flex;
  justify-content: space-between;
}
