// font
@import url("/src/assets/fonts/pretendard.css");
$font-main: "Pretendard";

// colors
$color_white: #ffffff;
$color_black: #000000;

$color_gray1: #16181d;
$color_gray2: #28303c;
$color_gray3: #323c4a;
$color_gray4: #6b7684;
$color_gray5: #f3f8fd;

$color_primary: #3182f6;
$color_secondary: #eff6fe;
$color_point: #0d2654;
