// font
@import url("/src/assets/fonts/pretendard.css");
$font-main: "Pretendard";

// colors
$color_white: #ffffff;
$color_black: #000000;
$color_gray1: #1f1f1f;
$color_gray2: #2d2d2d;
$color_gray3: #404040;
$color_gray4: #999999;
$color_primary: #5a74ce;
$color_secondary: #4876ee;
$color_point: #6cc4e9;
