// font
@import url("/src/assets/fonts/pretendard.css");
$font-main: "Pretendard";

// colors
$color_white: #ffffff;
$color_black: #000000;

$color_gray1: #131313;
$color_gray2: #2d2d2d;
$color_gray3: #404040;
$color_gray4: #999999;
$color_gray5: #f2f4f5;

$color_bgray1: #323c4a;
$color_bgray2: #6b7684;
$color_bgray3: #eff6fe;
$color_bgray4: #f3f8fd;

$color_point: #0d2654;
$color_primary: #3182f6;
