.main__core {
  background-color: $color_black;

  // content
  .main__content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 8rem);
    .txt {
      &__tit {
        display: block;
        color: $color_white;
      }
      &__body1 {
        color: $color_gray6;
      }
      &__body2 {
        margin-top: 0.6rem;
        color: $color_gray5;
        font-weight: 300;
      }
      &__body3 {
        display: block;
        margin-top: auto;
        color: $color_primary;
      }
    }
    .list {
      display: flex;
      gap: 0 4rem;
      &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  // media::tablet
  @media screen and (max-width: 1024px) {
    .main__content {
      gap: 4rem;
      .list {
        flex-direction: column;
        gap: 4rem;
      }
    }
  }

  // media::mobile
  @media screen and (max-width: 768px) {
  }
}
