.main__core {
  background-color: $color_black;

  // content
  .main__content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 8rem);
    .txt {
      &__tit {
        display: block;
        color: $color_white;
      }
      &__body1 {
        color: $color_gray6;
      }
      &__body2 {
        padding-top: 2rem;
        color: $color_gray5;
      }
      &__body3 {
        display: block;
        padding-top: 1.8rem;
        color: $color_primary;
      }
    }
    .list {
      display: flex;
      gap: 0 4rem;
    }
  }

  // media::tablet
  @media screen and (max-width: 1024px) {
    .main__content {
      gap: 4rem;
      .list {
        flex-direction: column;
        gap: 4rem;
      }
      .txt__body3 {
        padding-top: 1rem;
      }
    }
  }

  // media::mobile
  @media screen and (max-width: 768px) {
    .main__content .txt__body2 {
      padding-top: 1.6rem;
      font-weight: 400;
    }
  }
}
