.main__notes {
  background-color: $color_white;
  .inner {
    flex-direction: column;
    justify-content: space-between;
  }

  // tit
  .main__tit {
    color: $color_gray1;
  }

  // content
  .main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .box {
      margin-top: 3rem;
    }
    .inputbox {
      .input {
        display: block;
        height: 4.8rem;
        width: 100%;
        padding: 0 2rem;
        border: 1px solid $color_gray6;
        border-radius: 0.4rem;
        background-color: #f8f8f8; // 예외 컬러
        box-sizing: border-box;
        &::placeholder {
          color: $color_gray4;
        }
      }
    }

    .tagbox {
      margin-top: 1.2rem;
    }

    .list {
      height: 31rem;
      overflow-y: scroll;
      &__item {
        min-width: 0;
        transition: all 0.3s ease-in-out;
        background-color: $color_white;
        &:hover {
          background-color: $color_secondary;
        }
        .ico {
          flex-shrink: 0;
          width: 1.6rem;
          height: 1.6rem;
          background-color: $color_primary;
        }
      }
    }

    .txt {
      @include flex;
      gap: 3rem;
      padding: 4rem 2.6rem;
      &__body4 {
        flex-shrink: 0;
        color: $color_gray5;
      }
      &__body1 {
        flex-shrink: 0;
        display: block;
        width: 13rem;
        color: $color_gray3;
      }
      &__body3 {
        @include ellipse;
        color: $color_gray4;
      }
      &__link {
        text-align: center;
        color: $color_gray4;
        &:hover {
          color: $color_gray3;
        }
      }
    }
  }

  // media::tablet
  @media screen and (max-width: 1024px) {
    .main__content {
      gap: 4rem;
      .list {
        height: 43rem;
      }
    }
  }

  // media::mobile
  @media screen and (max-width: 768px) {
    .main__content {
      .list {
        height: 28rem;
      }
      .txt {
        position: relative;
        padding: 2rem 1.6rem;
        flex-wrap: wrap;
        gap: 1rem;
        &__body1 {
          width: calc(100% - 3rem);
        }
        &__body3 {
          width: calc(100% - 2.6rem);
        }
        .ico {
          position: absolute;
          right: 2rem;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
  }
}
