.main__profile {
  background-color: $color_gray1;
  .inner {
    @include flex;
    gap: 0 6rem;
  }

  // 우측콘텐츠
  .content {
    &:first-of-type {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      flex-shrink: 0;
      width: 37rem;
      border-right: 1px solid $color_gray1;
      .content__link {
        margin-top: 3rem;
      }
    }

    // 좌측콘텐츠
    &:last-of-type {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-left: 1px solid $color_gray2;
      padding-left: 6rem;
      .content__item {
        padding: 2rem;
        &:first-of-type span {
          display: block;
          font-family: Consolas;
          font-size: 1.4rem;
        }

        .content__subtit {
          font-family: Consolas;
          font-size: 1.6rem;
          color: $color_primary;
          & + span,
          & + dl {
            margin-top: 1.2rem;
          }
          &::before {
            content: "<";
          }
          &::after {
            content: ">";
          }
          &::before,
          &::after {
            display: inline-block;
            color: $color_gray3;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }

        dt,
        dd,
        span {
          font-size: 1.4rem;
          word-break: keep-all;
          color: $color_gray5;
        }

        dt:not(:first-of-type),
        dd:not(:first-of-type),
        span:not(:first-of-type),
        .content__tag {
          margin-top: 0.8rem;
        }

        dt {
          width: 16rem;
          font-size: 1.4rem;
          font-family: Consolas;
        }
        dd {
          width: calc(100% - 16.8rem);
          padding-left: 0.8rem;
          font-size: 1.3rem;
          line-height: 150%;
          vertical-align: top;
        }
        dt,
        dd {
          display: inline-block;
        }

        .content__tag .tag {
          margin: 0;
          &:last-of-type {
            cursor: pointer;
          }
          &:last-of-type:hover ~ .tooltip {
            opacity: 1;
          }
        }
      }
    }
  }
}
