.main__profile {
  background-color: $color_black;

  .inner {
    @include flex;
    gap: 0 4rem;
  }

  .content {
    height: 100%;
    &:first-of-type {
      @include flex_between;
      flex-direction: column;
      // flex-wrap: wrap;
      .content__tit {
        width: 44rem;
        color: $color_white;
      }
      .content__link {
        display: block;
        margin-top: 3rem;
        color: $color_white;
      }
      .content__dsc {
        color: $color_gray4;
      }
    }

    // 좌측 박스 스타일
    &:last-of-type {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      .content__item {
        padding: 1.6rem;
        border-radius: 0.4rem;
        &:nth-of-type(1) {
          background-color: #c800c8;
          span,
          .content__subtit {
            color: $color_gray1;
            padding: 0;
          }
          span {
            display: block;
            font-family: Consolas;
            font-size: 1.4rem;
          }
        }
        &:nth-of-type(2) {
          background-color: #00c8c8;
          dt,
          dd,
          .content__subtit {
            color: $color_gray1;
          }
        }
        &:nth-of-type(3) {
          background-color: $color_gray1;
        }
        &:nth-of-type(4) {
          background-color: $color_black;
          border: 2px solid #00a6e9;
        }
        &:nth-of-type(5) {
          background-color: #c8c800;
          span,
          .content__subtit {
            color: $color_gray1;
          }
        }
        &:nth-of-type(6) {
          background-color: $color_gray1;
        }
        &:nth-of-type(7) {
          background-color: #088c37;
          dt,
          dd,
          .content__subtit {
            color: $color_gray1;
          }
        }

        span {
          display: inline-block;
          font-size: 1.2rem;
          & + span {
            margin-top: 0.6rem;
            padding-left: 0.6rem;
          }
        }
        dt {
          width: 16rem;
          font-size: 1.3rem;
          font-family: Consolas;
          & + dd {
            padding-left: 1rem;
          }
        }
        dd {
          width: calc(100% - 17rem);
          line-height: 130%;
          font-size: 1.2rem;
          vertical-align: top;
          & + dt {
            margin-top: 0.6rem;
          }
        }
        dt,
        dd {
          display: inline-block;
        }
        span,
        dl,
        dt,
        dd {
          color: $color_white;
          word-break: keep-all;
        }
      }

      .content__subtit {
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
        color: $color_white;
        font-family: Consolas;
        & + span,
        & + dl {
          margin-top: 1.2rem;
        }
      }
    }
  }
}
