.main__profile {
  background-color: $color_gray1; // 임시

  .inner {
    @include flex;
    gap: 0 4rem;
  }

  .content {
    &:first-of-type {
      .content__tit {
        width: 44rem;
        font-size: 4rem;
        font-weight: 600;
        color: $color_white;
      }
      .content__dsc {
        width: 44rem;
        font-size: 1.4rem;
        margin-top: 20px;
        color: $color_gray4;
      }
    }
  }
}
