.main__visual {
  background: url("../../images/img/img-visual.png") no-repeat center / cover;

  .text {
    @include center;
    text-align: center;
    &__tit {
      font-size: 4.8rem;
      font-weight: 700;
      color: $color-white;
    }
    &__dsc {
      display: block;
      margin-top: 1.6rem;
      font-size: 1.8rem;
      color: $color-white;
    }
  }
}
