// layout
.main {
  section {
    height: calc(100vh - 16rem);
    padding: 8rem 0;
  }
  .inner {
    position: relative;
    max-width: 140rem;
    height: 100%;
    margin: 0 auto;
  }
}

// typo
// todo :: 폰트사이즈 정돈할것
.content {
  &__tit,
  .tit {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
  }
  &__dsc,
  .dsc {
    width: 44rem;
    font-size: 1.4rem;
  }
  &__link {
    font-size: 1.4rem;
  }
}

// component
.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  border: 1px solid transparent;
  border-radius: 19px;
  background-color: $color_gray5;
  font-size: 1.2rem;
  font-weight: 600;
  color: $color_gray3;
  &--s {
    border-radius: 0.4rem;
    background-color: $color_gray3;
    padding: 0.2rem 0.4rem;
    font-family: Consolas;
    color: $color_black;
    font-weight: 500;
  }
  & + .tag {
    margin-left: 0.4rem;
  }
}
