.header {
  @include flex;
  gap: 0 4rem;
  position: fixed;
  top: 0;
  width: calc(100% - 8rem);
  z-index: 100;
  height: 9rem;
  padding: 0 14rem 0;
  background: rgba(0, 0, 0, 0);

  &__logo {
    //임시
    width: 8.8rem;
    height: 2rem;
    background-color: $color_white;
    border-radius: 100%;
  }

  &__nav {
    @include flex_center;
    height: 100%;
    gap: 0 5rem;
  }

  &__link {
    position: relative;
    display: block;
    font-size: 1.6rem;
    color: $color_white;
    font-weight: 600;
    &::after {
      @include pseudo;
      width: 0;
      height: 1px;
      bottom: -0.2rem;
      left: 0;
      background-color: $color_white;
      transition: all 0.4s ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
